body{
    background-color: rgb(45, 46, 47);
}
aside{
    position: fixed;
    top: 10vh;
    left: 2vw;
}

#intro {
    height: 80vh;
    width: 98vw;
    margin: auto;
    background-color: rgb(45, 46, 47);
    padding-top: 10vh;
}
#profile{
  height: 80vh;
  width: 98vw;
  margin: auto;
  /* background-color: rgb(45, 46, 47); */
  /* background-color: #20a7d8; */
  text-align: center;
}
.div1{
    height: 10vh;
    width: 5vw;
    background-color: white;
    border-radius: 50%;
    /* display: grid;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; */
    margin-bottom: 1vh;

}
.P1{
    display: block;
    visibility: collapse;
    margin-left: 3vw;
    margin-bottom: 3vh;
    text-decoration: none;
}
img{
    width: 2vw;
    height: 2vw;
    opacity: 0.7;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}
.div1:hover {
    width: 13vw;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .P1{
        display: block;
        visibility: visible;
        margin-top: -2vw;
        text-decoration: none;
        color: black;
        margin-left: 4vw;
        font-size: 1.2rem;
    }

    

}
#see {
    font-size: 2rem;
}
.mypice{
    height: 40vh;
    width: auto;
    border: 5px solid yellow;
    border-radius: 50px;
    border-image: round;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(10%);
    -webkit-box-reflect: below;
    animation: ease-in adebart 10s;
    
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
@keyframes adebart {
  20%{
    opacity: 0;
    transform: translateX(600px);
  }
  10%{
    opacity: 1;
    transform: translateX(400px);
  }
  
}



@media (max-width:750px) {
    #see {

        font-size: 20px;
    }
    p {

      font-size: 20px;
    }
    .container{
      color: #e5e5e5;
      font-size: 2rem;
      text-transform: uppercase;
      height: 15vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
    }
    .first div {
      background-color:#20a7d8;
      font-size: 20px;
    }
    .div1{
        height: 6vh;
        width: 7vw;
    }
   
 .second div {
      background-color:#CD921E;
      font-size: 22px;
 }
  .third div {
      background-color:#c10528;
      font-size: 20px;
    }
    .forth div {
      background-color:#7059f1;
      
    }

    .animation {
      height:50px;
      overflow:hidden;
      margin-left: 1rem;
    }
    
    .animation > div > div {
      padding: 0.25rem 0.75rem;
      height:2.81rem;
      margin-bottom: 2.81rem;
      display:inline-block;
    }
    
    .animation div:first-child {
      animation: text-animation 10s infinite;
    
    
    
    }


    img{
        width: 4vw;
        height: 4vw;
        opacity: 0.7;
        margin-top: 1.5vw;
        margin-left: 1.5vw;
    }
    .div1:hover {
        width: 22vw;
        border-radius: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .P1{
            display: block;
            visibility: visible;
            margin-top: -2vw;
            text-decoration: none;
            color: black;
            margin-left: 6vw;
            font-size: 0.8rem;
        }
    
        
    
    }


    h1{
      max-width: 80vw;
      margin-left: 5vw;
      font-size: 20px;
      
    }




}




@import url('https://fonts.googleapis.com/css?family=Roboto:700');


p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
}


@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}


@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
}



h1 {
  font-family: "Montserrat Medium";
  max-width: 80vw;
  margin-left: 10vw;
  margin-top: 20vh;
  color: white;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  /* animation-delay: 10s; */
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
} */

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 3s 2s infinite forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-delay: 15s;
}

@keyframes fade-in {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}